/*Typography*/
body {
	font-family:$sans-serif;
}

h1,
.h1,
.h1-style,
.h1-styles,
.h1_style,
.h1_styles {
	font-size:3.938rem;
	font-family:$sans-serif;
	font-weight: 800;
	line-height:3.938rem;
	color:$blue;
}
h2,
.h2,
.h2-style,
.h2-styles,
.h2_style,
.h2_styles {
	display: block;
	font-size:2.688rem;
	font-family:$sans-serif;
	font-weight: 400;
	line-height:2.688rem;
	color:$blue;
}
h3,
.h3,
.h3-style,
.h3-styles,
.h3_style,
.h3_styles {
	font-size:2.125rem;
	font-family:$sans-serif;
	font-weight: 400;
	line-height:2.125rem;
	color:$blue;
}
h4,
.h4,
.h4-style,
.h4-styles,
.h4_style,
.h4_styles {
	display: block;
	font-size:1.375rem;
	line-height:1.375rem;
	font-family:$sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color:$dark-gray;
}
p {
	//font-size:.875rem;
	font-family:$sans-serif;
	//line-height:1.375rem;
	color:$dark-gray;
}
p a, a {
	color:$blue;
	text-decoration:underline;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	&.button {
		text-decoration:none;
	}
}

ul, ol {
	margin-left:1rem;
}
li {
	// font-size:.875rem;
	// line-height:1.375rem;
}
blockquote {
	font-family:$slab;
	font-size:1.250rem;
	font-style: italic;
	line-height:2rem;
	color:$dark-blue;
	font-weight:300;
}
.sans-serif {
	font-family:$sans-serif;
}
.serif {
	font-family:$serif;
}
.slab {
	font-family:$slab;
}
.weight-thin {
	font-weight:100;
}
.weight-light {
	font-weight:300;
}
.weight-regular {
	font-weight:400;
}
.weight-medium {
	font-weight:500;
}
.weight-semibold {
	font-weight:600;
}
.weight-bold {
	font-weight:700;
}
.weight-extrabold {
	font-weight:800;
}
.weight-black {
	font-weight:900;
}

/*Background Colors*/
.black-bg,
.bg-black,
.black_bg,
.bg_black {
	background:$black;
}
.white-bg,
.bg-white,
.white_bg,
.bg_white {
	background:$white;
}
.dark-gray-bg,
.bg-dark-gray,
.dark_gray_bg,
.bg_dark_gray {
	background:$dark-gray;
}
.gray-bg,
.bg-gray,
.gray_bg,
.bg_gray {
	background:$gray;
}
.light-gray-bg,
.bg-light-gray,
.light_gray_bg,
.bg_light_gray {
	background:$light-gray;
}
.dark-blue-bg,
.bg-dark-blue,
.dark_blue_bg,
.bg_dark_blue {
	background:$dark-blue;
}
.blue-bg,
.bg-blue,
.blue_bg,
.bg_blue {
	background:$blue;
}
.light-blue-bg,
.bg-light-blue,
.light_blue_bg,
.bg_light_blue {
	background:$light-blue;
}

/*Colors*/
.black {
	color:$black;
}
.white {
	color:$white;
}
.dark-gray {
	color:$dark-gray;
}
.gray {
	color:$gray;
}
.light-gray {
	color:$light-gray;
}
.dark-blue {
	color:$dark-blue;
}
.blue {
	color:$blue;
}
.light-blue {
	color:$light-blue;
}

/*Tools*/
.v-align-outer {
	display:table;
	height:100%;
	width:100%;
}
.v-align-inner {
	display:table-cell;
	vertical-align:middle;
}
.nobr {
	white-space:nowrap;
}
.uppercase {
	text-transform:uppercase;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}
.no-padding-top {
	padding-top:0;
}
.no-padding-bottom {
	padding-bottom:0;
}
.no-padding-left {
	padding-left:0;
}
.no-padding-right {
	padding-right:0;
}
.first {
	&::before {
		content:'';
		padding-top:5.625rem;
		display:block;
	}
}

/*Input Fields*/
select {
	width:100%;
	font-family:$sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	color: #B0B0B0;
	padding: .5rem;
	margin-bottom:2rem;
	height: 34px;
	background-color: #FFFFFF;
	border: 1px solid #00A8E1;
	border-radius: 3px;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
	width:100%;
	font-family:$sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	color: #B0B0B0;
	padding: .5rem;
	margin-bottom:2rem;
	height: 34px;
	background-color: #FFFFFF;
	border: 1px solid #00A8E1;
	border-radius: 3px;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus {
	display: block;
	box-sizing: border-box;
	border: 1px solid #cacaca;
	border-radius: 3px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
	font-family: inherit;
	color: #0a0a0a;
	transition: box-shadow .5s, border-color .25s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

[type=color].error,
[type=date].error,
[type=datetime-local].error,
[type=datetime].error,
[type=email].error,
[type=month].error,
[type=number].error,
[type=password].error,
[type=search].error,
[type=tel].error,
[type=text].error,
[type=time].error,
[type=url].error,
[type=week].error,
textarea {
	outline: none;
	border: 1px solid #8a8a8a;
	box-shadow: 0 0 5px red;
	transition: box-shadow .5s,border-color .25s ease-in-out;
	border-color:red;
}







/*Buttons*/
.button,[type=button],[type=submit] {
	display: inline-block;
	padding:0.563rem 2.813rem;
	margin:.5rem auto;
	font-family:$sans-serif;
	font-size:.875rem;
	line-height:.875rem;
	font-weight: 700;
	text-align: center;
	border-radius: .175rem;
	text-transform: uppercase;
	transition: all .25s ease-out;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	&.button-style-1 {
		color: #002d5b;
		border: 1px solid #00a8e1;
		background: #fff;
		border-radius:3px;
		transition: all .25s ease-out;
		&:hover {
			background: #E5F9FF;
			border: 1px solid #00a8e1;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
		}
		&:active {
			color:#fff;
			background: #00a8e1;
			border: 1px solid #00a8e1;
			box-shadow: inset 0 1px 3px 0 rgba(0,45,91,0.5);
		}
	}
}





/*Navigation*/
header {
	background:#f6f6f6;
	// height:56px;
	.container-fluid {
		// height:55px;
		ul	{
			li	{
				list-style:none;
			}
		}
	}
	.row {

	}
	.logo {
		text-indent:-9999px;
		background:url("http://placehold.it/230x68")no-repeat;
		background-size:100%;
		width:115px;
		height:34px;
		display:block;
		margin-top:1rem;
		margin-bottom:1rem;
	}
	.menu-item {
		// margin-top:1rem;
		// margin-bottom:1rem;
		display:inline-block;
		vertical-align:middle;
	}
	nav {
		//height:56px;
		ul {
			text-align:right;
			li {
				display:inline-block;
				margin-left:3rem;
				a {
					text-decoration:none;
					color:#395B73;
					font-family:$sans-serif;
					font-size:0.625rem;
					font-weight:bold;
					.fa {
						font-size:1.25rem;
						vertical-align:middle;
						margin-right:0.938rem;
						&.fa-tachometer {
							position:relative;
							top:-2px;
						}
						&.fa-caret-down {
							margin-left:1rem;
							margin-right:0;
						}
					}
					&:hover {
						text-decoration:none;
					}
				}
			}
		}
	}
	.sub-nav {
		background-color: #6EA9D3;
		.projects {
			background-color: #395B73;
			color: #FFFFFF;
			font-family:$slab;
			font-size: 27px;
			font-weight: 300;
			line-height: 35px;
			padding-top:1rem;
			padding-bottom:1rem;
			height:70px;
		}
		ul {
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;      /* TWEENER - IE 10 */
			display: -webkit-flex;     /* NEW - Chrome */
			display: flex;   
			-webkit-flex-flow: row wrap;
			justify-content: flex-end;
			align-items:stretch;
			min-height:100%;
			margin:0 auto;
			li {
				// display:inline-block;
				// margin:0 auto;
				a {
					padding:1.7rem 2rem;
					text-decoration:none;
					display:block;
					color:$white;
					font-family:$sans-serif;
					font-size:.625rem;
					font-weight:500;
					line-height:.688rem;
					text-align:center;
					margin:0 auto;
					flex: 1;
					height:70px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					&:hover {
						background-color: #395B73;
					}
				}
			}
		}
	}

}
main {
	min-height:1000px;
	// height:calc(100vh - 92px);	
	height:50vh;
}
//Footer
footer {
	// height:36px;
	background:#343434;
	p, a {
		color:$white;
		display:inline-block;
		margin:1rem 0;
	}
	a {
		text-decoration:none;
	}
}



































